[[source]]
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = false
name = "aliyun"

[packages]
Scrapy = "*"
scrapy-splash = "*"
chardet = "*"
pymongo = "*"
scrapyd-client = "*"
"fabric3" = "*"
scrapyd = "*"

[requires]
python_version = "3.6"

[dev-packages]
